@model HouseTARgv20.Models.House.HouseViewModel


@if (Model.Id.HasValue)
{
    <h1>Update</h1>
}
else
{
    <h1>Add</h1>
}



<div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />

        <div class="form-group row">
            <label asp-for="Address" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Address" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="HouseNumber" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="HouseNumber" class="form-control" min="1" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Floors" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Floors" class="form-control" min="1"/>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Rooms" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Rooms" class="form-control" min="1" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Price" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            </div>
        </div>

        @if (Model.Id.HasValue)
        {
            <input asp-action="update" asp-controller="house" type="submit" class="btn btn-primary" value="Update">
            <input asp-action="delete" asp-controller="house" asp-for="Id" type="submit" class="btn btn-danger" value="Delete">
        }
        else
        {
            <input asp-action="add" asp-controller="house" type="submit" class="btn btn-primary" value="Add">
        }
        <a asp-action="index" class="btn btn-primary">Index</a>

    </form>
</div>